<header>
<nav class="navbar bg-body-secondary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'main' %}">
      <img src="../../static/images/plamories_logo.png" alt="plamories" width="165" height="29">
    </a>
      <a>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              {% if user.is_authenticated == False %}
              <a href="#" class="btn btn-light">Войти с помощью</a>
              <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'profile' %}" class="btn btn-danger">Google</a>
              <a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'profile' %}" class="btn btn-primary">VK</a>
              {% else %}
              <a href="{% url 'profile' %}" class="btn btn-light"> <img src={{ user_info.profile_picture }} alt="profile_picture" width="30"> </a>
              <a href="{% url 'profile' %}" class="btn btn-light">{{ user_info.first_name }}</a>
              <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>

              {% endif %}
          </div>
      </a>
  </div>
</nav>
</header>
